.cc_container {
    width: 95%;
    margin:0 auto;
    
}

.page_name{
  padding:15px;
}



.create_call {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }

  .label_padding{
    display: block;
    padding: 10px;
  }

  .title_padding {
    display: block;
    padding-left: 5px;
    padding-bottom: 5px;
  }

  .input_1 {
    width: calc(100% - 10px);
    font-size: 16px;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
    border: 1px solid grey;
    }

    .inline{
      display: block;
      padding-left: 5px;
      padding-bottom: 5px;
      width: 5%;
    }

    .flex{
      float: left;
      padding: 10px;
      padding-right: 50px;
      width: 15%;
    }

    .date_input {
      width: 100%;
      text-align: center;
      font-size: 16px;
      padding:5px;
      -webkit-appearance: none;
      -moz-appearance: none;
      border-radius: 10px;
      margin-bottom: 5px;
      border: 1px solid grey;
    }

    .time_input {
      width: 60%;
      text-align: center;
      font-size: 16px;
      padding:5px;
      -webkit-appearance: none;
      -moz-appearance: none;
      border-radius: 10px;
      margin-bottom: 5px;
      border: 1px solid grey;
    }

    .create_button{
      font-weight: 500;
      clear: both;
      margin:0 auto;
      display:block; 
      width: 100px;
      height: 36px;
      border-radius: 18px;
      background-color: #1c89ff;
      border: solid 1px transparent;
      color: #fff;
      font-size: 18px;
      cursor: pointer;
      transition: all .1s ease-in-out;
    }
    
    .create_button:hover {
        background-color: #262626;
        border-color: #1c89ff;
        transition: all .1s ease-in-out;
      }
      
    
    